<head>
  <meta charset="utf-8" />
  <title>Artistry</title>
  <meta name="description" content="Generative Visualisation" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% capture styles %} {% include styles.css %} {%endcapture %}
  <style>
    {{ styles | scssify }}
  </style>

  {% capture highlight %} {% include monokai.css %} {%endcapture %}
  <style>
    {{ highlight | scssify }}
  </style>

  {% if page.jslib == "artistry" %}
  <script
    type="text/javascript"
    src="{{ site.baseurl }}/assets/artistry.js"
  ></script>
  {% elsif page.jslib == "vis" %}
  <script
    type="text/javascript"
    src="{{ site.baseurl }}/assets/vis.js"
  ></script>
  {% endif %}
</head>
