:root {
  /*Typography */
  --mono: menlo, consolas, roboto mono, ubuntu monospace, noto mono, oxygen mono,
    liberation mono, monospace;
  --sans: -apple-system, segoe ui, roboto, droid sans, oxygen, ubuntu, cantarell,
    fira sans, helvetica neue, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --serif: charter, times, georgia, serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  cursor: default;
  line-height: var(--lh-body);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  word-break: break-word;
}

/* Section Elements */

body {
  margin: 0;
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

main {
  margin: 0 auto;
  max-width: 40rem;
  padding: 0px 20px;
}

pre,
code,
kbd,
samp {
  font-family: var(--mono); /* 1 */
  font-size: 1em; /* 2 */
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.highlight {
  padding: 1rem;
}


canvas {
  border: 1px solid #eee;
}

#code {
  font-size: 0.8em;
}

@media only screen and (min-width: 640px) {
  canvas {
    float: right;
    width: 40%;
  }

  #code {
    margin-right: 40%;
  }
}

div.highlight {
  padding-top: 0px;
  padding-left: 0px;
}

footer {
  padding-top: 10px;
  clear: both;
}